<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>stellspec-service</contextName>

    <property name="APP_NAME" value="${STELLSPEC_LOG_APP_NAME:-stellspec-service}"/>
    <property name="LOG_DIR" value="${STELLSPEC_LOG_DIR:-logs}"/>
    <property name="LOG_FILE" value="${LOG_DIR}/${APP_NAME}.log"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{48} traceId=%X{traceId:-} spanId=%X{spanId:-} - %msg%n%ex{full}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOCAL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- Keep service logs local and bounded. Older archives are removed by maxHistory and totalSizeCap. -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/${APP_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${STELLSPEC_LOG_MAX_FILE_SIZE:-100MB}</maxFileSize>
            <maxHistory>${STELLSPEC_LOG_MAX_HISTORY:-30}</maxHistory>
            <totalSizeCap>${STELLSPEC_LOG_TOTAL_SIZE_CAP:-10GB}</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_LOCAL_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${STELLSPEC_LOG_ASYNC_QUEUE_SIZE:-8192}</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
        <maxFlushTime>5000</maxFlushTime>
        <appender-ref ref="LOCAL_FILE"/>
    </appender>

    <logger name="io.github.stellspec" level="${STELLSPEC_APP_LOG_LEVEL:-INFO}"/>
    <logger name="io.github.stellhub" level="${STELLSPEC_STELLHUB_LOG_LEVEL:-INFO}"/>
    <logger name="org.springframework" level="${STELLSPEC_SPRING_LOG_LEVEL:-INFO}"/>
    <logger name="org.apache.http" level="${STELLSPEC_HTTP_CLIENT_LOG_LEVEL:-WARN}"/>
    <logger name="org.elasticsearch.client" level="${STELLSPEC_ELATICSEARCH_CLIENT_LOG_LEVEL:-WARN}"/>

    <root level="${STELLSPEC_ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOCAL_FILE"/>
    </root>
</configuration>
